<div class="topbar-stack">
  <div class="topbar">
    <div class="topbar-left">
      <a class="brand" href="/">Fantareal</a>
    </div>
    <nav class="topnav sidebar-nav">
      <a class="navlink" href="/">Chat</a>
      <a class="navlink active" href="/config">Config</a>
      <a class="navlink" href="/config/card">Card</a>
      <a class="navlink" href="/config/sprite">Sprite</a>
      <a class="navlink" href="/config/memory">Memory</a>
      <a class="navlink" href="/card-writer">Card Writer</a>
    </nav>
  </div>
</div>
